table {
    table-layout: fixed;
    border-collapse: collapse;
    border: black;
    
}
        
th,td  {
        border-style: double;
        border-collapse: collapse;
        border-block-start-color: black;
        
      }
caption { 

}
      